SECRET_KEY='your django secret key'
DEBUG=False
ALLOWED_HOSTS='your allowed hosts'
CSRF_TRUSTED_ORIGINS=https://xxxx.xx # your host

POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=db

DB_HOST=db
DB_PORT=5432